body {
    font-family: Arial, sans-serif;
    background-color: black; /* Light blue background color */
}

.group-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #8facf2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .group-container p {
        margin-bottom: 15px;
    }

    .group-container label {
        display: block;
        font-weight: bold;
    }

    .group-container input, .group-container select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .group-container button {
        background-color: #5cb7f2; /* Light blue button color */
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .group-container button:hover {
            background-color: #459dd6; /* Darker blue on hover */
        }

.auto-style2 {
    margin-left: 0px;
}

.auto-style3 {
    text-align: center;
}
